.q-progress {
	display: block;
  position: relative;
	width: 100%;
}

.q-progress__fill {
	display: block;
	border-radius: inherit;
}

.q-progress--circle {
	display: inline-block;
	position: relative;
  border-radius: 50%;
}

.q-progress--circle:after {
  content: '';
  display: block;
  border-radius: 50%;
  border: none;
  position: absolute;
  text-align: center;
}

.q-progress--circle .q-progress__label {
  position: absolute;
  text-align: center;
  display: block;
  z-index: 1;
}

.q-progress__clipper  {
  position: absolute;
  border-radius: 50%;
}

.q-progress--circle-over-50 .q-progress__clipper {
  clip: rect(auto,auto,auto,auto);
}

.q-progress__first-50-bar {
	position: absolute;
  border-radius: 50%;
}

.q-progress--circle:not(.q-progress--circle-over-50) .q-progress__first-50-bar {
  display: none;
}

.q-progress__fill-bar {
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
}
