.q-input {
  box-sizing: border-box;
  position: relative;
  display: block;
}

.q-input__flex {
  display: flex;
  align-items: center;
  border-radius: inherit;
}

.q-input__wrap-content {
  position: relative;
  flex: 1 1 auto;
}

.q-input__formatter-value {
  pointer-events: none;
  position: absolute;
  height: 1em;
  line-height: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  left: 0;
  max-width: calc(100% - 15px);
  overflow: hidden;
}

.q-input__input {
  position: relative;
  display: inline-block;
  width: 100%;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}

.q-input__pre-content,
.q-input__post-content {
	display: inline-block;
	flex: 0 0 auto;
}

.q-input__input:disabled {
	cursor: not-allowed;
}

.q-input__show-password,
.q-input__clear {
	cursor: pointer;
}

textarea.q-input__input {
	resize: vertical;
}

.q-input .vdatetime {
	width: 100%;
}

.q-input__input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.q-input__input[type="number"]:not(:focus) {
  color: transparent;
}

.q-input__input[type="number"]:focus + .q-input__formatter-value {
  display: none;
}

input[placeholder] { text-overflow: ellipsis;}
input::-webkit-input-placeholder { color: #aaa;opacity: 1;line-height: normal; }
input::-moz-placeholder { color: #aaa;opacity: 1;text-overflow:ellipsis; }
input:-moz-placeholder { color: #aaa;opacity: 1;text-overflow:ellipsis; }
input:-ms-input-placeholder { color: #aaa;opacity: 1;text-overflow: ellipsis; }

textarea[placeholder] { text-overflow: ellipsis;}
textarea::-webkit-input-placeholder { color: #aaa;opacity: 1;line-height: normal; }
textarea::-moz-placeholder{ color: #aaa;opacity: 1;text-overflow: ellipsis; }
textarea:-moz-placeholder { color: #aaa;opacity: 1;text-overflow: ellipsis; }
textarea:-ms-input-placeholder { color: #aaa;opacity: 1;text-overflow: ellipsis; }
