.q-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.q-checkbox__flex {
  display: flex;
  align-items: center;
}

.q-checkbox__input {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	bottom: 0;
	left: 0;
}

.q-checkbox__label {
  position: relative;
  display: inline-block;
  margin-left: 0.5em;
  flex: 1 1 auto;
}

.q-checkbox__handle {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.q-checkbox__handle:before {
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
  font-family: monospace;
}

.q-checkbox__input:disabled + .q-checkbox__handle:before {
  cursor: not-allowed;
}

.q-checkbox__input:checked + .q-checkbox__handle:before {
  content: '\2713';
}

.q-checkbox .q-icon {
  flex: 0 0 auto;
}
