.q-fileupload {
	position: relative;
	display: block;
}

.q-fileupload__handle {
	position: relative;
	display: block;
    text-align: center;
    padding: 10px 0;
}

.q-fileupload__handle:not(.q-fileupload__handle--draggable) {
	background-color: #eee;
}

.q-fileupload__handle:not(.q-fileupload__handle--draggable):hover {
	background-color: #ddd;
}

.q-fileupload--no-pointer-events {
	pointer-events: none;
}

.q-fileupload__handle--draggable {
    border: 2px dashed #ddd;
    border-radius: 5px;
    padding: 25px 0;
}

.q-fileupload__handle--draggable-active {
	border-color: #26a69a;
}

.q-fileupload__label--draggable {
    display: block;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 30px;
}

.q-fileupload__input {
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    font-size: 0px;
}

.q-fileupload__selected-file {
	display: flex;
    align-items: center;
	margin: 10px 0;
}

.q-fileupload__selected-file-icon {
	display: inline-block;
	position: relative;
	flex: 0 0 auto;
}

.q-fileupload__selected-file-info {
	flex: 1 1 auto;
    margin-left: 0.5em;
}

.q-fileupload__selected-file-extension {
	position: absolute;
    top: 25px;
    left: -5px;
    background: #26a69a;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
}

.q-fileupload__selected-file-name {
	vertical-align: middle;
}

.q-fileupload__selected-file-size {
	vertical-align: middle;
}