.q-toggleswitch {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.q-toggleswitch__flex {
  display: flex;
  align-items: center;
}

.q-toggleswitch__input {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	bottom: 0;
	left: 0;
}

.q-toggleswitch__handle {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.q-toggleswitch__label {
  position: relative;
  display: inline-block;
  margin-left: 0.5em;
  flex: 1 1 auto;
}

.q-toggleswitch__handle:after,
.q-toggleswitch__handle:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
}

.q-toggleswitch__handle:before {
  width: 100%;
}

.q-toggleswitch__handle:after {
  left: 0;
  right: auto;
}

.q-toggleswitch__input:disabled + .q-toggleswitch__handle {
  cursor: not-allowed;
}
